body{
  background-color: black
}

canvas{
  background: black;
  /* margin-top: 50px */
}

#myCanvas{
  /* margin-top: 50px */
}

.welcomePage{
  width: 100%;
  height: 700px
}

.welcomePage{
  background-image: url("../images/atari-background-6.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.info{

  /* background-color: red;
  width: 35%; */

  /* display:inline-block; */
}

.minimap .highlight-selected {
  background: blue;
}

/* The rule for selected highlights */
.minimap .highlight-selected.selected {
  background: red;
}
